*.npz
*.mp4
*.mov
*.pyc
*.so
*.c
*.exe
stokesian_dynamics/output/*
!stokesian_dynamics/output/README.md
stokesian_dynamics/output_videos/*
stokesian_dynamics/plotting/plot_XYZ.py
.DS_Store
*/build/*
*/__pycache__/*
/stokesian_dynamics/functions/__pycache__
/stokesian_dynamics/setups/__pycache__
